.video__sub-name {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 20px;
  line-height: 132%;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #0a001b;
}
.video__sub-descr {
  font-family: "Manrope";
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #0a001b;
}